$fcolor: #A4AEAD;   
$themecolor: #23B7A4;
$spcolor: #ABADAF;
$shcolor: #E1E6EA;
$imagecolor: #3A454D;

@function size($size) {
  @return ($size / 12) * 1rem;
}

@mixin data-dpr($field, $val) {
  [data-dpr="1"] & {
    #{$field}: $val;
  }
  [data-dpr="2"] & {
    #{$field}: $val * 2;
  }
  [data-dpr="3"] & {
    #{$field}: $val * 3;
  }
}

@mixin font-size($size) {
  @include data-dpr('font-size', $size);
}
